.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 80%;
    height: 20vh;
    margin: 0 0 0 19%;
    background-color: rgb(223, 219, 219);
}

.upper-footer-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.middle-footer-row {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: auto;
}

.footer__logo-text {
    margin-right: 5px;
    font-weight: 700;
    font-size: 25px;
    color: rgb(112, 102, 102);
}

.footer__logo-pic{
    border-radius: 50%;
}

.footer__logo-link{
    display: flex;
    align-items: center;
    justify-content: space-aroun;
    text-decoration: none;
}

.footer__link{
    display: block; 
    padding: 10px 0 10px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}

.footer__list{
    display: flex;
}

.footer__item {
    line-height: 2;
    list-style-type: none;
}

.footer__copyright{
    color:rgba(99, 96, 96, 0.5);
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 900px) {  
    .footer {
        width: 100%;
        margin: 0;
    }
}
