.section__list {
    padding-left: 3rem;
}

.section__link {
    color: #13db1d;
    text-decoration: none;
}

.section__paragraph {
    margin: 10px;
    text-indent: 15px;
}

.standout-code {
    color: red;
}

.section-image {
    display: block;
    margin: 2rem;
}

.section__header {
    color: rgb(255,255,255);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}