* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
}

.navbar {
    position: fixed;
    height: 100vh;
    width: 20%;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.navbar__header {
    width: 100%;
    height: 70px;
    margin: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(233, 220, 147);
}

.navbar__list {
    margin: 0;
    padding: 0;
}

.navbar__item {
    line-height: 2;
    list-style-type: none;
}

.navbar__link {
    display: block; 
    padding: 10px 0 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.main {
    width: 80%;
    margin: 0 0 0 19%;
    padding: 2rem;
    background-color: rgb(14, 31, 63);
    font-family: 'Patrick Hand', cursive;
}

.section__list {
    padding-left: 3rem;
}

.section__link {
    color: #42f5ef;
    text-decoration: none;
}

.section__paragraph {
    margin: 10px;
    text-indent: 15px;
}

.standout-code {
    color: red;
}

.code-snippet {
    width: 90%;
    padding: 10px;
    margin: 5px auto;
    color: rgb(126, 202, 11);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'Courier Prime', monospace;
    font-size: 15px;
}

.section-image {
    display: block;
    margin: 2rem;
}

.flex-table {
    display: flex;
    flex-flow: column nowrap;
    width: 60vw;
    margin: 1rem  auto;
    box-sizing: border-box;
    background-color: black;
}

.flex-table__row_header {
    color: black;
    background-color: rgb(168, 163, 163);
}

.flex-table__row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 1.5rem;
}

.flex-table__cell {
    width: 33.33%;
    border: 0.1px solid rgba(128, 128, 128, 0.3);
    text-align: center;
}

.section__header {
    color: #ebd69d;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

@media screen and (max-width: 900px) {  
    .page-container {
        flex-direction: column;
    }

    .navbar {
        width: 100%;
        height: 300px;
        padding: 0;
        border: 1px solid black;
        overflow-y: scroll;
        z-index: 3;
    }

    .main {
        width: 100%;
        margin: 0;
        padding-top: 35vh;
        min-height: 100vh;
    }
}
