.main-content {
    background-color: #795548;
    color: white;
    padding: 1rem;
    width: 400px;
    height: 200px;
}

.horizontal-rule{
    background-color: yellow;
    display: inline-block;
    width:370px;
    height: 2px;
    border: none;
}

.main-content-header {
    color: yellow;
    position: relative;
    top: 20px;
    left: 100px;
    background-color: #795548;
    padding: 0 5px;
    font-size: 20px;
}
