.finance-main {
    padding: 0;

    color: rgb(255, 255, 255);

    background: linear-gradient(
      90deg,
      rgba(4, 52, 116, 0.6),
      rgba(57, 131, 9, 0.6)),
    url('../Images/main-bg-finance.jpeg')
    center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}