* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
}

.page-container_javascript {
    color: rgb(180, 131, 39);
}

.main {
    width: 80%;
    margin: 0 0 0 19%;
    padding: 3rem;
    background-color: rgb(34, 46, 66);
    font-family: 'Patrick Hand', cursive;
}

.main_javascript {
    background-color: rgb(0, 0,0);
}

.main_finance {
    padding: 0;
    color: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(4, 52, 116, 0.6),
      rgba(57, 131, 9, 0.6)),
    url('../Images/main-bg-finance.jpeg')
    center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.standout-code {
    color: red;
}

@media screen and (max-width: 900px) {  
    .page-container {
        flex-direction: column;
    }

    .main {
        width: 100%;
        margin: 0;
        padding-top: 35vh;
        min-height: 100vh;
    }
}
