.navbar {
    position: fixed;
    width: 20%;
    margin: 0;
    background-color: rgb(2, 7, 29);
}

.navbar__header {
    width: 100%;
    height: 70px;
    margin: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(233, 220, 147);
}

.navbar__list {
    margin: 0;
    padding: 0;
}

.navbar__item, .footer__item {
    line-height: 2;
    list-style-type: none;
}

.navbar__link, .footer__link{
    display: block; 
    padding: 10px 0 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

@media screen and (max-width: 900px) {  
    .navbar {
        width: 100%;
        height: 300px;
        padding: 0;
        border: 1px solid black;
        overflow-y: scroll;
        z-index: 3;
    }
}
